.main {
    display: flex;
    justify-content:space-around;
    width: 500px;
    margin:20px auto;
    padding: 20px;
    text-align: center;
    background: #ffc8dd;
    border: 6px dotted #cad2c5;
    border-radius: 4px;
    color: #2b2839;
    font-family: 'Courier New', Courier, monospace;
}

.pic {
    width: 100px;
    
}

.blue-border {
    border: 1px dotted blue;
}